body {
  font-family: sans-serif;
  line-height: 1.6;
  box-sizing: border-box;
  margin: 0;
  color: #e4d7c5;
  background: #f0e9c0;
  background: linear-gradient(178deg,rgb(241, 239, 231) 22%, rgba(235, 235, 235, 1) 81%);
}

.container {
  margin: 0 auto; /*Центрируем */
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}

/* Для телефонов */
@media (max-width: 768px) {
  .container {
    padding-left: 3%;
    padding-right: 3%;
    
  }
}

/* Шапка сайта */
header {
  max-width: 100%; /* Занимаем всю ширину экрана */
  color: rgb(209, 69, 139);
  padding: 10px 0;
}

header h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2;    /* Расстояние между строками */
  margin-bottom: 0.5em; /* Отступ снизу */
  margin-top: 3%;
  margin-bottom: 0;
  font-family: "Coiny 2.0";
  text-align: center;
  font-size: 2.5em;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Тень для объема */
  line-height: 1.0;
  z-index: 0;
}

.qualification {
  margin-top: 3%;
  margin-bottom: 0;
  font-family: "Coiny 2.0";
  text-align: center;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Тень для объема */
  line-height: 1.0;
  z-index: 0;
}

/* Медиа-запрос для адаптивности на мобильных устройствах */
@media (max-width: 768px) {
  header {
    font-size: 14px; /* Уменьшенный размер шрифта для телефонов */
  }
}

/* Навигация */
nav ul {
  letter-spacing: 2px;
  list-style: none;
  padding: 0;
  text-align: center;
  margin-bottom: 0px; 
}

nav li {
  display: inline;
  margin: 0;
}

nav a {
  text-align: center;
  margin: 5px; /* Добавляем отступ вокруг каждой ссылки */
  display: inline-block;
  font-size: 1.3em;
  color: hsl(59, 40%, 79%);
  font-family: "Architun";
  text-decoration: none;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: rgb(66, 110, 84);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Тень (для объема) */
  transition: background-color 0.3s ease, transform 0.1s ease; /* Плавный переход цвета и трансформации */
}

/* Стили для кнопки при наведении (hover) */
nav a:hover {
  background-color:   rgb(45, 75, 57); /* Более темный розовый при наведении */
}

/* Стили для кнопки при нажатии (active) */
nav a:active {
  transform: scale(0.98);  /*  Уменьшение масштаба при нажатии */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15); /*  Уменьшаем тень при нажатии */
}

#about {
  padding: 20px; /* Отступ от границ секции */
  margin: 0;
  justify-content: center; 
  align-items: center; 
}

#about ul {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 800px;
  width: 100%;
  list-style: none;
  text-align: left;
  padding: 0px;
  margin: 0 auto;
  font-family: "Architun";
  color:  rgb(91, 150, 115);
}

#about li {
  margin-bottom: 1px;
  display: flex; /* Добавляем flexbox для выравнивания p и span */
  align-items: baseline;
}

#about li p {
  flex-shrink: 0; 
  font-size: 2.5em;
  padding-right: 5px;
  color: rgb(66, 110, 84);
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s ease;
  font-family: "Coiny 2.0";
}

#about li span {
  font-size: 2em;
}

/* Медиа-запрос для адаптивности на мобильных устройствах */
@media (max-width: 768px) {
  ul {
    font-size: 12px; /* Уменьшенный размер шрифта для телефонов */
  }

  ul li p {
    margin-left: -10px;
    font-size: 1em; /* Еще меньше для пояснений на телефонах */
  }
  ul li span {
    margin-left: -13px;
  }
}

#mail{
  height: 10px;
  font-size: 1.5em;
  font-family: "Coiny 2.0";
  color: rgb(66, 110, 84);
  line-height: 1.5;
  z-index: 0;
  text-align: center;
  margin-bottom: 50px;
}

* Основной контент *
main section {
  text-align: center;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 20px; /* Увеличенный отступ */
  border-radius: 10px; /* Более скругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Более выраженная тень */
}

main h2 {
  font-family: "Coiny 2.0";
  color: rgb(209, 69, 139); /* Яркий розовый для заголовков */
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 3px;
  text-align: center;
  text-transform: uppercase; /* Заголовки заглавными буквами */
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Тень для объема */
  z-index: 2; /* Помещаем текст над картинкой */
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

main p {
  text-align: center;
  margin-right: 10px;
  line-height: 1.2;
  font-size: 2em;
  z-index: 2; /* Текст над картинкой */
  font-family: "Architun";
  color: rgb(91, 150, 115);
  position: relative; /* Нужно для z-index */
  margin-bottom: 10px; /* Добавляем отступ снизу */
}

.pink-button {
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1px;
  font-family: "Architun";
  display: table;                                 /* ЧТО ДЕЛАТЬ!!!!!!!!!!! */ 
  text-align: center;
  margin-bottom: 3px; /* Добавляем отступ снизу */
  padding: 10px 20px; /*  Внутренние отступы (верх/низ, лево/право) */
  background-color:  rgb(66, 110, 84); 
  color:  hsl(59, 40%, 79%);               
  text-decoration: none;      /* Убираем подчеркивание у ссылки */
  font-size: 1.5em;
  border-radius: 25px;          /* Скругление углов */
}

/* Стили для кнопки при наведении (hover) */
.pink-button:hover {
  background-color:   rgb(45, 75, 57); /* Более темный розовый при наведении */
}

/* Стили для кнопки при нажатии (active) */
.pink-button:active {
  transform: scale(0.98);  /*  Уменьшение масштаба при нажатии */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15); /*  Уменьшаем тень при нажатии */
}

/* ВК и ТГ */
.logo{
  max-width: 100%;
  border-radius: 100px;
  height: 90px;
  transition: transform 0.2s;
  margin-right: 10px;
}

.logos{
  display: flex;
  justify-content: center;
}

.logo:hover{
  background-color: rgba(255, 255, 255, 0); 
  transform: scale(1.1);
  opacity: 1.0;
}

.text {
  width: 600px;
  float: left;
  margin-left: 30px;
}

/* Фото автора */
.author-photo {
  width: 40%; /* Изменяем на процент, чтобы адаптировалось к экрану */
  max-width: 400px; /* Ограничиваем максимальную ширину */
  float: right; /* Оставляем справа на больших экранах */
  margin-bottom: 20px;
  position: relative;
  margin-top: -5%;
}

/* Медиа-запрос для маленьких экранов (телефонов) */
@media (max-width: 768px) {
  .author-photo {
    width: 80%; /* Увеличиваем ширину на мобильных */
    max-width: none; /* Убираем ограничение на максимальную ширину */
    float: none; /* Убираем обтекание текстом */
    display: block; /* Занимает всю ширину */
    margin-left: auto; /* Центрирование */
    margin-right: auto; /* Центрирование */
    margin-top: 10px; /* Уменьшаем отступ сверху */
  }
}

.pictures {
  width: 15%; 
  transition: transform 0.2s;
  transform: scale(1.1);
  opacity: 1.0;
  position: absolute;
  margin-right: 10px;

  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .pictures0 {
    top: 100%;

  }
  .pictures {
  top: 100%;
  }
}

.pictures0 {
  width: 15%; 
  transition: transform 0.2s;
  transform: scale(1.1);
  opacity: 1.0;
  position: absolute;
  right: 0;         
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}


.pictures1 {
  width: 15%; 
  transition: transform 0.2s;
  transform: scale(1.1);
  opacity: 1.0;
  position: absolute;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.pictures2 {
  width: 15%; 
  transition: transform 0.2s;
  transform: scale(1.1);
  opacity: 1.0;
  position: absolute;
  right: 0;         
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.pictures3 {
  top: 150px;
  width: 15%; 
  transition: transform 0.2s;
  transform: scale(1.1);
  opacity: 1.0;
  position: absolute;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.pictures4 {
  top: 150px;
  width: 15%; 
  transition: transform 0.2s;
  transform: scale(1.1);
  opacity: 1.0;
  position: absolute;
  right: 0;         
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.pictures5 {
  top: 100px;
  width: 15%; 
  transition: transform 0.2s;
  transform: scale(1.1);
  opacity: 1.0;
  position: absolute;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.pictures6 {
  top: 100px;
  width: 15%; 
  transition: transform 0.2s;
  transform: scale(1.1);
  opacity: 1.0;
  position: absolute;
  right: 0;         
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.pictures7 {
  width: 15%; 
  transition: transform 0.2s;
  transform: scale(1.1);
  opacity: 1.0;
  position: absolute;
  right: 0;         
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
}

.lines {
  width: 50%; /* Растянуть линию на всю ширину контейнера */
  max-width: 300px; /*  Ограничить максимальную ширину (по желанию) */
  height: auto;
  display: block; /*  Чтобы можно было задавать margin */
  margin: 1px auto; /* Отступ сверху и снизу, центрирование по горизонтали */
}

/* Стрелки */
.cursor {
  max-width: 100%;
  border-radius: 100px;
  height: 200px;;
  transition: transform 0.2s;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center; 
  transform: scale(1.1);
  opacity: 1.0;
  z-index: 1;
}

/* Подвал */
footer {
  color: rgb(209, 69, 139);
  text-align: center;
  padding: 15px 0;
  font-family: "Architun";
}

#links {
  padding: 20px; /* Отступ от границ секции */
  margin: 0;
  justify-content: center; 
  align-items: center; 
}

/* Список полезных ссылок */
#links ul {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 800px;
  width: 100%;
  list-style: none;
  text-align: left;
  padding: 0px;
  margin: 0 auto;
  font-size: 30px;
  font-family: "Architun";
  color: rgb(66, 110, 84);
}

#links li {
  margin-bottom: 5px;

}

#links a {
  padding-right: 10px;
  color: rgb(91, 150, 115);
  text-decoration: none;
  font-weight: 800;
  transition: color 0.3s ease;
  font-family: "Coiny 2.0";
}

#links a:hover {
  background-color:   rgb(45, 75, 57); /* Более темный розовый при наведении */
}

/* Стили для кнопки при нажатии (active) */
#links a:active {
  transform: scale(0.98);  /*  Уменьшение масштаба при нажатии */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15); /*  Уменьшаем тень при нажатии */
}

/* Медиа-запрос для адаптивности на мобильных устройствах */
@media (max-width: 768px) {
  ul {
    font-size: 12px; /* Уменьшенный размер шрифта для телефонов */
  }

  ul li span {
    font-size: 0.8em; /* Еще меньше для пояснений на телефонах */
  }
}


/* Волны делят секции */
.wave-separator {
  background-image: url("img/17.png"); /*  Путь к изображению */
  background-repeat: repeat-x; /* Повторяем изображение по горизонтали */
  background-size: auto 200px; /*  Задаем высоту волны */
  height: 100px;
}